.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.Git-logo {
  height: 25px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

.App-header {
  background-color: #2196f3;
}

.testA {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.buttonLogout {
    --btn-color: #275efe;
    position: relative;
    color: black;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

